@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');


html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto Mono', sans-serif;
  background-color: #818f8b;
}

      .blink {
        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;

      }
      @keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
      @-webkit-keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }

.tap1 {
  color: white;
  background: #289B32;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 3rem;
  border: none; 

}

.tap1:hover {
	color: #fce50f;
	transition: color 0.3s ease-in-out;
	
	
}

#card{
  visibility: visible;
}

#data{
  margin-top: -33%;
  text-align:center;
  visibility: hidden;
}

.block{
  background: #e4ece5;
  margin-left: 25%; 
  margin-right: 25%; 
  padding: 1rem;
}



#data > div > button{
  margin: 3rem;
padding: 4rem;
  font-size: 1.5rem;
}

#omny{
  margin-top: -25%;
  visibility: hidden;
}

#microchip{
  margin-top: 0%;
  visibility: hidden; 
}

#tap{
  margin-top: -50%;
  visibility: hidden;
}

.threeboxes{ 
	justify-content: center;
	margin-top: 1px;
	padding-top: 1px;
	
}


.threeboxes > button {
	
	padding-top: 1px; 
	
	
}





@media all and (max-width: 500px) {
	
	.threeboxes > button {
	
	display: block; 
	align: center;
	}
	
	
	.blink {
		
		font-size: 20px;
		
	}
	
}

/* Reference for glowing border animation:
 https://stackoverflow.com/questions/15008931/animated-glowing-border-using-css-js */

@-webkit-keyframes glow {
  to {
    border-color: #b7e2ff;
    -webkit-box-shadow: 0 0 20px #284cec;
    -moz-box-shadow: 0 0 20px #284cec;
    box-shadow: 0 0 20px #284cec;
  }
}

.glower {
  background-color: #ccc;
  border: 1px solid transparent;
  -webkit-animation: glow 1.0s infinite alternate;
  -webkit-transition: border 1.0s linear, box-shadow 1.0s linear;
  -moz-transition: border 1.0s linear, box-shadow 1.0s linear;
  transition: border 1.0s linear, box-shadow 1.0s linear;
}